.di-prn{
    position: fixed; bottom: 0; top: 0; left: 0; right: 0;
    background-color:var(--color1); justify-content: space-between; align-items: center;
    display: flex; flex-wrap: wrap;
}

.di-prn-1{
    background-color: transparent; width: 100%; max-width: 400px; height: calc(100% - 0px);
    max-height: 100px; justify-content: center; align-items: center; display: flex;
    text-align: center; 
}

.h3-txt{
    font-size: 45px; -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: white; text-shadow: 5px 5px 5px rgb(8, 8, 8); 
}

.h2-txt{
    font-size: 45px; -webkit-text-stroke: 1.5px rgb(255, 255, 255);
    color: white; text-shadow: 5px 5px 5px rgb(8, 8, 8); 
}

.di-prn-2{
    background-color: transparent; width: 100%; max-width: 400px; height: calc(100% - 10px); justify-content: right; display: flex;
    align-items: center; max-height: 500px;
    
}
.a-img{
     text-decoration: none; display: block; width: auto; height: auto; background-color: transparent; 
    justify-content: right; align-items: center; display: flex;
}

.img-prn-in{
    height: 117%; max-height: 334px; background-color: transparent; margin-right: 30px;
}