@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',
    'sans-serif';
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.huron{
    width: 40%;
    object-fit: cover;
    user-select: none;
    animation-name:huron;
    animation-direction: normal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
button{
    margin: 8px;
}
@keyframes huron {
    from{
        transform: translate(10%);
        opacity: 0;
    }to{
        transform: translate(0);
        opacity: 1;
    }
}
.form-register{
    width: 400px;
    height: 670px;
    padding: 30px;
    border-radius: 4px;
    color:white;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    animation-name: form;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-direction: normal;
    margin-left: 20px;
}
@keyframes form {
    from{
        opacity: 0;
    }to{
        opacity: 1;
        }
}
.form-register h1{
    font-weight: 800;
    font-size: 1.8rem;
    color:black
}
.controls{
    width: 80%;
    background-color: white;
    padding: 10px;
    margin-bottom: 16px;
    border:1.3px solid #7380ec;
    outline: none;
    font-size: 13px;
    border-top: none;
    border-right: none;
    border-left: none;
    transition: all 300ms ease;
}
.controls::placeholder{
    color:#939393
}
.controls:focus{
    width: 100%;
    border-bottom:1px solid #41f1b6;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 15px;
    color:black
}
.form-register a{
    color:black;
    text-decoration: none;
    color:#ff7782
}
.form-register a:hover {
    text-decoration: underline;

}
.form-register .botons{
    width: 100%;
    border: none;
    padding: 12px;
    color:white;
    background-color: #7380ec;
    margin:16px 0;
    font-size: 15px;
    cursor: pointer;
}
textarea{
    resize: none;
    width: 100%;
    font-size: 13px;
    border:1px solid #7380ec;
    background-color: white;
    outline: none;
    transition: all 300ms ease;
}
textarea:focus{
    border: 1px solid #41f1b6;
}
